.day {
  display: flex;
  align-items: center;
  padding: 0px;
}

.weekNumber {
  font-family: "Arial";
  font-size: 0.75rem;
  position: relative;

  top: 0px;
  left: 30%;
  transform: translateX(-60%);
  position: relative;
  /* margin-right: 2px; */
  width: 35px;
  margin-right: 2px;

  color: rgba(0, 0, 0, 0.87);
}

.selected {
  color: white;
}
