.day {
  display: flex;
}

.weekNumber {
  font-family: "Roboto", "Helvetica", "Arial";
  font-size: 0.75rem;

  position: relative;
  margin-right: 2px;
  width: 35px;

  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
}

.selected {
  /* background-color: blue; */
  color: white;
}
